* {
  box-sizing: border-box;
  background: #f8f8f8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field, .header {
  padding: 8px;
}

form {
  font-family: Helvetica;
  width: 400px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

.field, .choice-field, p {
  font-size: 13px;
  line-height: 21px;
}

input,
textarea {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #ccc;
}

.choice-field {
  padding: 7px 10px;
}

input[type="checkbox"],
input[type="radio"]{
  display: inline;
  width: auto;
  margin-right: 7px;
}

button {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 7px 9px;
  position: relative;
  text-align: center;
  width: 50%;
  background-color: #000;
  color: #ebebeb;
  border: 0;
  line-height: 23px;
}
